# Pandas Tutorial by keith galli on youtube *using pokemon_data.csv*

## load data into pandas

In [1]:
import pandas  as pd
# always put quotess on filename of csv otherwise its object undefined
df = pd.read_csv('pokemon_data.csv') 
# printing the entire df
# print(df)

# print only first 5 lines
print(df.head(5))

# read tab separated file,"\t" means tab
# df2= pd.read_csv('pokemon_data.txt',delimiter='\t')
# print(df2)

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

## reading data in pandas

In [2]:
# headers
# print(df.columns)

# print single column, works only with one name headers
# print(df.Name)

# or,with specifiction of how many
# print(df['Name'][0:5])

#multiple columns
# print(df[['Name','HP','Attack']].head(10))

# print row,iloc stands for interger location
# print(df.iloc[1])

# find a particular thing using text
df.loc[df['Type 1']=='Fire'].head(10)

# multiple rows eg 1-4
# print(df.iloc[1:4])

#specific location(R,C)
# print(df.iloc[2,1])

# iterrate through rows showing info in like document format
# for index,row in df.iterrows():
#     print(index, row)
    
# iterrate through rows showing info in like document format specifying columns included
# for index,row in df.iterrows():
#     print(index, row['Name'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False

## sorting data

In [3]:
# find means and medians and averages of columns with numbers
# df.describe()

#sort values alphabetically
# df.sort_values('Name')

#sort values alphabetically descending
# df.sort_values('Name',ascending=False)

# sort by multiple values changing whether ascending or descending per column
df.sort_values(['Type 1','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## making changes to data

In [4]:
# addidng up a total and adding as column at the end, always check if number is accurate
# df['Total']= df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']

# drop a column
# df=df.drop(columns=['Total'])

#shorter total,add the column after the last column you want asigned, the first : means do for all rows
df['Total']=df.iloc[:,4:10].sum(axis=1)

#swith total to the left side
cols=list(df.columns)
# print(cols[-1])
# cols [-1] is the last item in an array
df=df[cols[0:4 ]+ [cols[-1]] + cols[4:12]]
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Saving our Data

In [5]:
#save to modified csv
# df.to_csv('modified.csv')

# save to modified csv without the index added by pandas
# df.to_csv('modified.csv',index=False)

# save to excel
# df.to_excel('modified.xlsx',index=False)

#save to txt file
# df.to_csv('modified.txt',index=False,sep='\t')

## Filtering Data

In [6]:
# only display type 1 grass type
# df.loc[df['Type 1']=='Grass']

# filter using more than  column
# df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison')]

# filter either or on two columns
# df.loc[(df['Type 1']=='Grass') | (df['Type 2']=='Poison')]

# filter on three columns adding in numerical filter
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df['HP'] > 70)]

# save filtered list as checkpoint
# new_df.to_csv('filtered.csv',index=False)

# remove old index from filtered, 'drop=true' is to not save the old index as a column at the beginning
# new_df=new_df.reset_index(drop=True)
# to do inplace to reduce memory use
new_df.reset_index(drop=True,inplace=True)

# filter out all the names with mega,"~" is basically "!"
df.loc[~df['Name'].str.contains('Mega')]

# new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Adding regex for advanced filtering

In [7]:
import re

# re.I => ignore case  
# df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I)]

# specify only names starting with Pi
df.loc[df['Name'].str.contains('^Pi[a-z]*',regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

## Conditional Changes

In [11]:
# change all fire to flamer in Type 1 column
# df.loc[df['Type 1']=='Fire','Type 1']='Flamer'

# turning back flamer to fire
# df.loc[df['Type 1']=='Flamer','Type 1']='Fire'

# change multiple values of other columns conditionally
# df.loc[df['Total']>500,['Generation','Legendary']]='Test Value'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test Value,Test Value
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test Value,Test Value
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test Value,Test Value
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test Value,Test Value
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test Value,Test Value
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test Value,Test Value
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test Value,Test Value